@model QuizModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (var item in Model.Answers)
{

<a class="choice" href='#' onclick="myfunction(@Model.User.Id,@Model.Quote.Id, @item.Id)">@item.AnswerText</a>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>  