@model QuoteAddModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuoteQuizAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="boxer">
        <div class="quote-box">
            <label for="new-quote">Quote</label>
            <input id="n-quote" class="new-quote"><br>

            <label for="answer-quote">Answer</label>
            <input id="a-quote" class="answer-quote"><br>

            <label for="choice1">Choice 1</label>
            <input class="choice" id="choice1" disabled><br>

            <label for="2">Choice 2</label>
            <input class="choice" id="choice2" disabled><br>

            <div id="correctBox">
                <label for="correct"> Is Correct</label>

                <input type="checkbox" checked id="isCorrect" onclick="myFunction()"><br>

            </div>
            <div id="multipleBox">
                <label for="multiple"> Want Multiple Choice</label>

                <input type="checkbox" id="wantMultiple" onclick="wantMultiple()"><br>
            </div>
            <button class="btn btn-primary">Add Quote</button>


        </div>

        <div id="quote-add-res">

        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>